<footer>
	<div id="commento"></div>
	<script defer
	src="https://cdn.commento.io/js/commento.js"
	data-css-override="https://ruuucker.github.io/assets/css/style.css"
	data-auto-init="true">
	</script>

	<noscript>
	{% if page.url contains 'rus'  %}
		Пожалуйста, включите JavaScript для просмотра <a href="https://docs.commento.io/" rel="nofollow">комментариев.</a>
    	{% else %}
      	Please, enable JavaScript to view the <a href="https://docs.commento.io/" rel="nofollow">comments.</a>
  	</noscript>
</footer>
